body{
    background-color: rgb(106, 122, 124);
    font-family: cursive;
}
h1{
    font-weight: 800;
 color: rgb(87, 2, 2);
}
a{
    text-decoration: none;
    color: inherit;
}

#preview_gif{
    border: 3px solid rgb(41, 105, 126);
    box-shadow: 20px 20px 10px black;
    -webkit-user-select: none;
    margin: 15px;
    margin-bottom: 20px;
}
#gener{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 50px;
    padding: 15px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: teal;
    border: 1px outset teal;
   border-radius: 5px;
   outline: none;
   color: rgb(253, 224, 246);
   letter-spacing: 1px;
   -webkit-user-select: none;
   cursor: pointer;
}
#gener:hover{
    background-color: rgb(0, 121, 121);
    transition: ease-out 100ms;
    outline: none;
}
#gener:active, #reset:active{
    outline: none;
    border-style: inset;
}
#reset{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 10px;
    padding: 15px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(206, 0, 0);
    border: 1px outset rgb(206, 0, 0);
   border-radius: 5px;
   outline: none;
   color: rgb(253, 224, 246);
   -webkit-user-select: none;
   cursor: pointer;
   width: 36px; height: 47px;
}
#logo{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 5px;
}
#reset:hover{
    background-color: rgb(190, 0, 0);
    transition: ease-out 100ms;
    outline: none;
}

input{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 27.5px;
    margin-right: 180px;
    width: 190px;
    font-size: 25px;
    border: none;
    border-radius: 8px;
    font-family: cursive;
}
input:focus{
    box-sizing: border-box;
    border-style: inset;
    border-width: thin;
    outline: none;
}
input:hover{
    background-color: lightblue;
    transition: ease-out 150ms;
}

#cont{
    display: none;
    flex-wrap: wrap;
    border: 3px solid rgb(35, 0, 59);
    border-radius: 7px;
}

@media only screen and (max-width: 723px){
 
            h1{
               z-index: -3;
               color: rgb(106, 122, 124);
               -webkit-user-select: none;
            }
            #linkk {
                pointer-events: none;
                cursor: default;
                -webkit-user-select: none;
              }
}
@media only screen and (max-width: 376px){
 
    h1{
       z-index: -3;
       color: rgb(106, 122, 124);
       -webkit-user-select: none;
    }
    #linkk {
        pointer-events: none;
        cursor: default;
        -webkit-user-select: none;
      }
    #gener{
        width: 90px;
        height: 47px;
        font-size: 14px;
        text-align: center;
        padding: 0;
    }
    input{
        right: initial;
    }
}
@media only screen and (max-width: 342px){
 
    h1{
       z-index: -3;
       color: rgb(106, 122, 124);
       -webkit-user-select: none;
    }
    #linkk {
        pointer-events: none;
        cursor: default;
        -webkit-user-select: none;
      }
    #gener{
        width: 90px;
        height: 47px;
        font-size: 14px;
        text-align: center;
        padding: 0;
    }
    input{
        right: initial;
        width: 160px;
    }
}